.bg {
  background-color: gray;
  background-size: cover;
  background-position: center 30%;
}

h2 {
  margin: 10px 0px;
  padding: 0.25em 0.5em;
  background: transparent;
  border-left: solid 5px black;
}

body {
  font-family: "Hiragino Kku Gothic ProN", "メイリオ", sans-serif;
}

.myImg {
  width: 200px;
  height: 200px;
}